:root {
  --color-app-background-dark: rgba(51, 51, 51, 0.15);
  --color-app-background-light: rgba(255, 255, 255, 0.85);
  --color-background-green: hsla(120, 100%, 50%, 0.25);
  --color-background-red: hsla(0, 100%, 50%, 0.25);
  --color-error-background: rgb(255, 192, 192);
  --color-error-text: rgb(164, 38, 44);
  --color-voice-background--bari: hsla(120, 100%, 50%, 0.25);
  --color-voice-background--bass: hsla(240, 100%, 50%, 0.25);
  --color-voice-background--guest: hsla(300, 100%, 50%, 0.25);
  --color-voice-background--lead: hsla(0, 100%, 50%, 0.25);
  --color-voice-background--tenor: hsla(60, 100%, 50%, 0.25);
}

.accessibility {
  position: absolute;
  left: -1000px;
  top: -1000px;
  z-index: 1000;
}

.accessibility:focus {
  position: relative;
  left: 0;
  top: 0;
}

.App.theme--dark {
  background-color: var(--color-app-background-dark);
}

.App.theme--light {
  background-color: var(--color-app-background-light);
}

.div--columns {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.flex--horizontal {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
}

.flex-align--center {
  align-items: center;
}

.flex-justify--center {
  justify-content: center;
}

.flex-justify--end {
  justify-content: end;
}